<section>
  <div class="hero">
    <div class="container">
      <div class="row align-items-center pt-5">
        <div
          class="
            col-lg-6 col-md-6 col-12
            order-2 order-md-1
            text-white text-center text-md-start text-lg-start
            mt-3 mt-lg-0 mt-md-0
          "
        >
          <h1 class="mb-4 fw-bold">LA MEJOR SOLUCIÓN PARA SU NEGOCIO</h1>
          <p class="mb-4">
            Analizamos el mercado con el fin de brindarte las mejores
            soluciones.
          </p>
          <button type="button" class="btn btn-primary w-50 py-3 mb-4">
            Contactanos
          </button>
        </div>
        <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2 text-center">
          <img
            src="../../../assets/images/mobile.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="wave"></div>
</section>

<section class="mt-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-hand-thumbs-up-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Resultados de calidad</h3>
              <p class="mb-0">
                Nuestros productos digitales están desarrollados con tecnologías
                modernas y robustas para su buen funcionamiento.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-pie-chart-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Analítica</h3>
              <p class="mb-0">
                Realizamos estudios de los procesos llevados a cabo por los
                negocios para su automatización.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-currency-exchange text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Precios asequibles</h3>
              <p class="mb-0">
                Realizamos planes promocionales y sugerimos estrategias para que
                el producto digital pueda ajustarse a su presupuesto.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-diagram-3-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Escalabilidad</h3>
              <p class="mb-0">
                Nuestros productos digitales construidos con código propio
                tienen la facultad de ser versátiles y de poder ser escalados
                según su requerimiento.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-hand-thumbs-up-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Fácil de usar</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseños minimalistas e
                interactividad avanzada para su sencilla manipulación.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div><div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow border-0 py-2 h-100">
          <div class="d-flex">
            <i
              class="bi bi-grid-3x3-gap-fill text-primary mx-2"
              style="font-size: 2.5rem"
            ></i>
            <div>
              <h3 class="text-capitalize h5">Diseño adaptable</h3>
              <p class="mb-0">
                Nuestros productos digitales cuentan con diseño responsive, para
                ser vistos desde diferentes dispositivos de conexión como
                Laptops y Móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="text-muted text-center mb-0 mt-3">
        <i
          >"Soluciones tecnológicas integrales con un enfoque de servicio
          oportuno y de calidad."</i
        >
      </p>
    </div>
  </div>
</section>